.div1{
    background-color: red;
    color:white;
    font-size: 30px;
    height:80px;
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 150;
    margin-bottom: 10px;
}

.div2{
    background-color: rgb(243, 226, 74);
    color:white;
    font-size: 30px;
    height:80px;
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 150;
}

.div3{
    display:flex;
    flex-direction: row;
    gap:10px;
    margin-bottom: 10px;
}

#id1{
    background-color:green;
    color:white;
    font-size: 30px;
    height:500px;
    width:60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    margin-top: 10px;
    gap: 10px;
}
#id2{
    background-color:rgb(63, 172, 240);
    color:white;
    font-size: 30px;
    height:500px;
    width:40%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    margin-top: 10px;
    gap: 20px;
}
#img1{
    background-color: lightgreen;
    background-color: lightgreen;

    height: 60px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#img2{
    background-color: lightgreen;
    background-color: lightgreen;

    height: 60px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.div4{
    background-color: rgb(153, 149, 149);
    color:white;
    font-size: 30px;
    height:80px;
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 150;
    margin-bottom: 10px;
}

