body{
    background-color: skyblue;
}

.div1{
    background-color: darkcyan;
    color:white;
    font-size: 30px;
    height:50px;
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}

.div2{
    display:flex;
    flex-direction: row;
    gap:10px;
}

#id1{
    background-color:lightgreen;
    color:white;
    font-size: 30px;
    height:400px;
    width:25%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}

#id2{
    background-color:orange;
    color:white;
    font-size: 30px;
    height:400px;
    width:70%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    margin-top: 30px;
    gap: 20px;
}

#img1{
    background-color: rgb(230, 230, 15);
    background-color: rgb(230, 230, 15);

    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#img2{
    background-color: rgb(230, 230, 15);
    background-color: rgb(230, 230, 15);

    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#img3{
    background-color: rgb(230, 230, 15);
    background-color: rgb(230, 230, 15);
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.div3{
    background-color: rgb(75, 172, 233);
    color:white;
    font-size: 30px;
    height:50px;
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}